.button {
  display: block;
  cursor: pointer;

  background-color: #292929;

  font-family: Space Grotesk;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;

  &-primary {
    height: 56px;

    width: 100%;
    border-radius: 8px;

    border: 2px solid #292929;

    transition: all 0.3s;

    &:hover {
      background-color: #f8f8fa;
      border: 2px solid #f0f1f4;

      color: #000;
    }

    @include onDesktop {
      width: 324px;
    }
  }

  &-contact-us {
    width: 100%;

    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 60px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}
