.page {
  &__body {
    margin: 0;

    font-family: "Space Grotesk", sans-serif;
    font-family: "Space Mono", monospace;

    font-weight: 400;
    color: $main-black-color;

    &--with-menu {
      overflow: hidden;
    }
  }

  &__section {
    padding: 0 0 96px 0;

    @include onTablet {
      padding: 0 0 120px 0;
    }
  }
}
