.section {
  &__title {
    margin: 0 0 48px 0;

    @include onTablet {
      margin: 0 0 56px 0;
    }
  }

  &__title-container {
    width: 280px;
    margin: 0 auto;

    @include onTablet {
      width: 600px;
    }
    @include onDesktop {
      width: 1020px;
    }
  }
}
